/* Exercise (1) */

#demo{
    width: 200px;
    height: 50px;
    background-color: yellow;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;

}




