.form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-box {
    width: 49%;
    padding: 10px;
    text-align: center;
}

.form form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form input, .form textarea {
    margin: 10px 0;
    padding: 12px;
    width: 95%;
    border: 3px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 5px #88B44E;
}

.form input::placeholder, .form textarea::placeholder {
    color: #999;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.form input:focus, .form textarea:focus {
    border-color: #88B44E; 
    outline: none; 
    box-shadow: 0 0 10px #88B44E;
}

.form textarea {
    resize: vertical; 
    height: 150px;
}

.form button {
    background-color: #88B44E;
    color: white;
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 5px #88B44E;
    transition: background-color 0.3s ease;
}

.form button:hover {
    background-color: #76a442; 
}

@media (max-width: 991.98px) { 
    .contact-us , .form{
        display: block;
    }
    .contact-box , .form-box{
        width: 100%;
    } 
}