@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --primary: #88B44E;
  --light: #F5F8F2;
  --dark: #252C30;
}

*{
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html{
  font-size: 62.5%;
  overflow-x:hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width: 0.8rem;
}

.sizeBox{
  height: 8rem;
}

.home-header {
  background: linear-gradient(rgba(136, 180, 78, .7), rgba(136, 180, 78, .7)), url(../images/carousel-1.jpg) center center no-repeat;
  background-size: cover;
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  height: 100%;
}

.header-content p {
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}
.header-content p span {
  color: var(--light);
}

.header-content h1 {
  font-size: 8rem;
  font-family: "Playfair Display", serif;
  text-align: center;
  font-weight: 900;
  color: var(--dark);
}

.home-header button {
  width: 6.5rem;
  height: 6.5rem;
  color: var(--light);
  background-color: #252c307d;
  padding: auto;
  font-size: 3rem;
  border-radius: 50px;
}

.home-header button:hover {
  background-color: var(--dark);
  color: var(--light);
}

.home-header .home-btn {
  width: 25rem;
  font-size: 2rem;
  color: #252C30;
  margin-top: 20px;
  background-color: var(--light);
}

.header-content {
  animation: zoomIn 1s forwards;
  opacity: 0;
  transform-origin: center;
}

@keyframes zoomIn {
  0% {
      opacity: 0;
      transform: scale(0);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}

.header-content > * {
  opacity: 1;
  transition: opacity 0.5s ease;
}